{% extends "grassIntraBundle::layout.html.twig" %}

{% block title %}
  Ajouter un article - {{ parent() }}
{% endblock %}

{% block sdzblog_body %}

  <h2>Ajouter un article</h2>

  {% include "grassIntraBundle:Blog:formulaire.html.twig" %}

  <p>
    Ajout d'article
  </p>

  <p>
    <a href="{{ path('sdzblog_voir', {'id': article.id}) }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à l'article
    </a>
  </p>

{% endblock %}